header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #333;
  padding-block: 8px;
  padding-inline: 16px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
}

li:hover {
cursor: pointer;
}

span:hover {
cursor: pointer;
}