<h2>Todos!</h2>

<h4>Example 1</h4>
<p>
  {{ todoItems()[0].title }}
</p>
<p>
  {{ todoItems()[1].title }}
</p>

<h4>Example 2</h4>
@for (todoItem of todoItems(); track todoItem.id) {
<p>{{ todoItem.title }}</p>
}

<h4>Example 3</h4>
<form action="">
  <label for="">Filter Todos</label><br />
  <input name="searchTerm" type="text" placeholder="Search todos ..." [(ngModel)]="searchTerm" />
</form>

<p class="load" *ngIf="!apiItems().length">Loading...</p>

@if (!apiItems().length) {
<p class="load">Loading...</p>
}

<ul class="todos">
  @for (apiItem of apiItems() | filterTodos : searchTerm(); track apiItem.id) {
  <app-todo-item (todoToggled)="updateTodoItem($event)" [apiItem]="apiItem" />
  }
</ul>
